.buttonParent{
    margin-bottom: 2rem;
    display: grid;
    place-content: center;
}
.button{
    background: rgb(44, 89, 147);
    color: rgb(185, 255, 185);
    width: fit-content;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    border-radius: 0.3rem;
}
.button:hover{
    box-shadow: 0 1px 5px -2px rgb(255, 255, 255);
    transform: translateY(-1px);
    cursor: pointer;
}
.passContent{
    font-size: 1.5rem;
}
.copy{
    padding: 0 0.5rem;
}