#top{
    display: grid;
    place-content: center;
}
#title{
    font-size: 3.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    text-align: center;
    margin: auto;
    color: white;
}
#subTitle{
    color: rgb(73, 221, 131);
}
#comment{
    color: lightgrey;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0.2em;
}